<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">

    <title>RAVI's first webapp</title>
  </head>
  <body class="bg">
  <style>
    .heading-title {
    -webkit-text-stroke: 2px white;
}
  </style>
    <!-- Overlay -->
    <div class="overlay" id="overlay" onclick="resetBg()"></div>

    <!-- Container -->
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  <img src="{{url_for('static',filename='logo.png')}}" width="100">
                </a>
              </li>
            </ul>

            <!-- Right Navbar -->
            <ul class="navbar-nav navbar-right mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Feedback</a>
              </li>
            </ul>
            <!-- ./End of right navbar -->
          </div>
        </div>
      </nav>
      <!-- ./End of navbar -->
      <h1 class="heading-title" style="color: #03a3b2;margin-left:20%;font-weight:50px;margin-top:10%;font-size:70px;">ANY TEXT DOWNLOADER</h1>

      <!-- Search Box -->
      <div class="col-md-6 col-lg-6 col-11 mx-auto my-auto search-box">
        <div class="input-group form-container">
          <form method='post' action="{{url_for('available')}}">
          <input type="text" name="search" class="search" placeholder="Keyword" autofocus="autofocus" autocomplete="off" onclick="setBgToDark()">
          
          <span class="input-group-btn">
            <button type="submit" class="btn btn-search">
              <img src="{{url_for('static',filename='search.png')}}" width="40">
            </button>
          </span>
          <form>
        </div>
      </div>

      <!-- ./End of search box -->
    </div>
    <!-- ./End of container -->

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <footer style="color:white;font-size:30px;margin-top:37%;margin-left:69%;" class="blockquote-footer">-Created by<cite title="Source Title"> &nbsp RAVI VARDHAN</cite></footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

    <script type="text/javascript">
      function setBgToDark(){
        document.getElementById("overlay").style.opacity = "0.7";
      }

      function resetBg(){
        document.getElementById("overlay").style.opacity = "0.2";
      }
    </script>
  </body>
</html>